{% extends 'base.html' %} {% block head %}{% endblock %} {% block body %}
<div class="content">
  <div class="header">
    <a class="home_btn" href="{{url_for('home')}}">home</a>
    <h1>Send working Domains</h1>
  </div>
  <div class="subheader">
    <h2>
      we will check the list of domains and send user a screenshot of working
      domains
    </h2>
    <form method="POST">
      <input class="fetch_btn" type="submit" value=" fetch domains" />
    </form>
    <div class="response">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="flash-messages">
        {% for msg in messages %}
        <p>{{ msg }}</p>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>
  </div>
  {%endblock%}
</div>
